/*  your css code here. If applicable */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.testimonial-container {
	width:100%;
    padding: 2px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial {
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text {
    font-size: 16px;
}

.author {
    text-align: right;
    font-style: italic;
}
